body {
  margin: 0;
}

footer {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.footer-container {
  max-width: 480px;
  margin: 0 auto;
}
.footer-svg {
  fill: white;
}
.logo-svg-footer {
  fill: white;
  display: none;
}
.footer-p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
.list-points {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.list-container {
  padding: 32px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  footer {
    height: 268px;
  }
  .footer-container {
    max-width: 768x;
    margin: 0 auto;
  }
  .footer-p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
  .list-points {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
  .list {
    padding-left: 24px;
  }
  .list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1158px) {
  footer {
    height: 299px;
  }
  .footer-container {
    width: 100%;
    max-width: 1158px;
  }
  .logo-svg-footer {
    display: flex;
  }
  .footer-p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
  .list-points {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
}
